#main-header img {
  width: 100%;
  height: 100%;
}

#main-header .port-item {
  width: 30%;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.bg-black {
  color: #fff;
  background: #000;
}

.fab:hover {
  color: #3498db
}

a.nav-link {
  color: #000000
}

.nav-link.active {
  background-color: #ffc107 !important;
}

.yellow {
  background-color: #fff8e4;
}

.bg-success-custom {
  background-color: #1e7e34;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}